<div class="home-container" style="border-color: red;">
  <div class="home container">
    <div class="part1">       
        <div class="container-img">
            <img src="../../../assets/icon.png" alt="" class="rounded-circle img-fluid">
        </div>
    </div>
    <div class="part2">
        <div class="container-text">
            <div class="text">
                <h3 class="text-center">Hola soy</h3>
                <h2 class="text-center">Farid Amagua</h2>
                <h4 class="text-center">Desarollador Full Stack</h4>
                <div class="container-button mt-2">
                    <button class="bt1">Descargar CV</button>
                    <button class="bt2">Contacto</button>
                </div>
            </div>    
        </div>
    </div>
  </div>
</div>